body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    overflow: hidden;
}

.app-container {
    position: relative; /* Volvemos a relative */
    width: 830px;
    height: 500px;
    /* Dejamos que Flexbox lo centre, solo le aplicamos la escala dinámica */
    transform: scale(min(calc(100vw / 850), calc(100vh / 520)));
}

canvas {
    border: 1px solid #333;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#urlInput {
    position: absolute;
    left: 285px;
    top: 340px;
    width: 460px;
    height: 50px;
    z-index: 2;
    background: transparent;
    border: none;
    outline: none;
    color: #EAEAEA;
    font-family: monospace;
    font-size: 13px;
    padding: 0 20px;
    display: block;
}

#urlInput::placeholder {
    color: #555555;
    font-family: sans-serif;
    font-style: italic;
}

/* Capa invisible interactiva para Drag & Drop y Selección en la pestaña MP3 */
#fileInput {
    position: absolute;
    left: 265px;   /* Mismo centrado de la caja grande */
    top: 60px;     /* Y inicial de la zona */
    width: 500px;  /* Ancho idéntico al del rectángulo */
    height: 240px; /* Alto idéntico al del rectángulo */
    z-index: 2;
    opacity: 0;    /* Lo hacemos 100% invisible para que se vea el Canvas de fondo */
    cursor: pointer;
    display: none; /* Se controla dinámicamente desde JS */
}